# Docs
TODO.md
NOTE.md

# Python 缓存
__pycache__/
*.pyc

# 忽略视频文件 (防止上传大文件)
assets/samples/*
assets/output/*
# 忽略模型
assets/weights/*

# 但是！保留文件夹结构 (保留 .gitkeep)
!assets/samples/.gitkeep
!assets/output/.gitkeep

# 忽略训练产生的临时文件夹
tactix_train/
/runs/

# 忽略数据文件夹
datasets/

# 忽略 IDE 文件夹
.vscode/
.idea/

/training/train/runs/
notebooks/runs/detect/predict/test1.mp4

assets/tactical_cam_footage/*

# 忽略文档
docs/

# Build / Distribution
dist/
build/
*.egg-info/
.venv/